<div class = "panel panel-default">
  <div class = "panel-body">
    <h3><b>Sign up</b></h3>
  </div>
</div>
<div class = "panel panel-default">
  <div class = "panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :firstname %><br />
        <%= f.text_field :firstname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :lastname %><br />
        <%= f.text_field :lastname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
