<div class = "panel panel-default">
  <div class = "panel-body">
    <h3><b>Resend unlock instructions</b></h3>
  </div>
</div>
<div class = "panel panel-default">
  <div class = "panel-body">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
