.container
  %hr
  .row
    %div{:class => "col-md-3"}
      .panel.panel-default
        .panel-body
          %b
            BEST RATIOS
          %hr
          - @users_service.ranking(:ratio).each_with_index do |place, i|
            = "#{(i + 1).ordinalize} place (#{@users_service.ratio(place.first)})"
            %br
            - place.each do |user|
              = link_to fullname(user), user_path(user.id)
              %br
            %br
      .panel.panel-default
        .panel-body
          %b
            PERFECT PLAYERS
          %hr
          - @users_service.ranking(:perfect_count).each_with_index do |place, i|
            - break if @users_service.perfect_count(place.first) == 0
            = "#{(i + 1).ordinalize} place (#{@users_service.perfect_count(place.first)} perfect games)"
            %br
            - place.each do |user|
              = link_to fullname(user), user_path(user.id)
              %br
            %br
      .panel.panel-default
        .panel-body
          %b
            SURPRISES
          %hr
          - @users_service.ranking(:surprise_count).each_with_index do |place, i|
            - break if @users_service.surprise_count(place.first) == 0
            = "#{(i + 1).ordinalize} place (#{pluralize(@users_service.surprise_count(place.first), 'surprise win')})"
            %br
            - place.each do |user|
              = link_to fullname(user), user_path(user.id)
              %br
            %br


    %div{:class => "col-md-9"}
      .panel.panel-default
        .panel-body
          %b
            RANKING BY POINTS
      - @users_service.ranking(:points).each_with_index do |place, i|
        .panel.panel-default
          .panel-body
            %div{:class => "col-md-4"}
              %h3
                = "#{(i + 1).ordinalize} place"
                .small
                  = "score: #{pluralize(@users_service.points(place.first), 'point')}"
            %div{:class => "col-md-8"}
              %br
              - place.each do |user|
                %h4
                  = image_tag(user.avatar.url(:medium))
                  = link_to fullname(user), user_path(user.id)
                  .small
                    = "#{@users_service.win_count(user)} win, #{@users_service.lose_count(user)} lost"
                    - if @users_service.perfect_player?(user)
                      = ", #{pluralize(@users_service.perfect_count(user), 'perfect game')}"
                    - if @users_service.surprise_count(user) > 0
                      = ", #{pluralize(@users_service.surprise_count(user), 'surprise')}"
              %br
      %hr
  .row
