.container
  %div{:class => "col-md-3"}
    .panel.panel-default
      .panel-body
        %b
          PLAYER PROFILE
        %hr
        %div{:class => "col-md-8"}
          %h4
            = fullname(user)
            .small
              = user.email
        %div{:class => "col-md-4", :align => :right}
          %li.round-image-50=image_tag(user.avatar.url(:medium))
        %br
        %hr
        %div{:align => :right}
          %hr
          = user_matches_balance(user)
          %br
          = "ratio: #{@users_service.ratio(user)}"
          / %hr
          %br
          %br
          .small
            %table.table
              %thead
                %th subject
                %th score
              %tbody
                %tr
                  %td= pluralize(@users_service.win_count(user), 'win game')
                  %td= "+#{pluralize(@users_service.win_count(user), 'point')}"
                %tr
                  %td= pluralize(@users_service.lose_count(user), 'lost game')
                  %td= pluralize(@users_service.lose_count(user) * (-1), 'point')
                %tr
                  %td= pluralize(@users_service.perfect_count(user), 'perfect game')
                  %td= "+#{pluralize(@users_service.perfect_count(user), 'point')}"
                %tr
                  %td= pluralize(@users_service.surprise_count(user), 'surprise')
                  %td= "+#{pluralize(@users_service.surprise_count(user) * 2, 'point')}"
                %tr
                  %td
                    %b
                      SUM:
                  %td
                    = pluralize(@users_service.points(user), 'point')
          %br
          
          %br
          = "ranking position: #{@users_service.position_in_ranking(user, :points) + 1}"
  

  %div{:class => "col-md-9"}
    .panel.panel-default
      .panel-body
        %b
          RECENT MATCHES
    .panel.panel-default
      .panel-body
        .table-responsible
          %table.table.table-hover
            %thead
              %tr
                %th win
                %th lost
                %th score
                %th date
                %th time
                %th additional info
            %tbody
              - user.matches.reverse_each do |match|
                %tr
                  %td
                    = image_tag(winner_avatar_url(match, :thumb))
                    = link_to fullname(winner(match)), user_path(match.winner_id)
                  %td
                    = image_tag(loser_avatar_url(match, :thumb))
                    = link_to fullname(loser(match)), user_path(match.loser_id)
                  %td
                    = result(match)
                  %td
                    = date(match)
                  %td
                    = time(match)
                  %td
                    .info
                      - if match.surprise_victory?
                        = "+2p (surprise) "
                      - if match.score == 0
                        = "+1p (perfect)"
    %br

