
= form_for @match do |f|
  .col-xs-12.col-sm-10.col-sm-offset-1
    - if @match.errors.any?
      .error_explanation
        %h4= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
        %ul
          - @match.errors.full_messages.each do |msg|
            %li= msg
    %br

    .form-group
      = f.label :played_at, :class=>'singleline'
      = f.datetime_select :played_at, { :start_year => 2015, :end_year => Time.now.strftime("%Y").to_i }
    .form-group
      = f.label "win:"
      = f.select :winner_id, options_for_select(User.all.map{|u| ["#{u.firstname} #{u.lastname}", u.id]})
    %br
    .form-group
      = f.label "lose:"
      = f.select :loser_id, options_for_select(User.all.map{|u| ["#{u.firstname} #{u.lastname}", u.id]})
      / alternative
      / = f.collection_select :loser_id, User.all, :id, :firstname
    %br
    .form-group
      = f.label "by points:"
      = f.select :score, options_for_select((0..9).map {|i| [i,i]})
    %br
    = f.submit 'submit match', class: 'btn btn-default'
    %br
    %br
