.container
  %hr
  .panel.panel-default
    .panel-body
      %div{:class => "col-md-3"}
        %b
          MATCHES LIST
      - if signed_in? && current_user.admin
        %div{:class => "col-md-9", :align => :right}
          = link_to 'New match', new_match_path, class: 'btn btn-default'
  .panel.panel-default
    .panel-body
      .table-responsible
        %table.table.table-hover
          %thead
            %tr
              %th win
              %th lose
              %th score
              %th date
              %th time
              %th additional info
          %tbody
            - @matches.reverse_each do |match|
              %tr
                %td                                 
                  = image_tag(winner_avatar_url(match, :medium))
                  = link_to winner_fullname(match), user_path(match.winner_id)
                %td
                  = image_tag(loser_avatar_url(match, :medium))
                  = link_to loser_fullname(match), user_path(match.loser_id)
                %td
                  = result(match)
                %td
                  = date(match)
                %td
                  = time(match)
                %td
                  - if match.surprise_victory?
                    .info
                      + 2 points for surprise victory!
                  - if match.score == 0
                    .info
                      + 1 point for perfect match!

  %br
  