.panel.panel-default
  .panel-body
    .row
      %div{:class => "col-md-3"}
        %h4{:align => :center}
          %b
            NEW MATCH
      %div{:class => "col-md-9", :align => :right}
        = link_to 'Cancel', root_path, class: 'btn btn-danger'
.panel.panel-default
  .panel-body
    = render 'form'
