!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'


  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %span.navbar-brand
            %b
              FOOSBALL TRACKER
        %div       
          %ul.nav.navbar-nav.navbar-left
            %li
              %a{:href => root_path}
                %span.glyphicon.glyphicon-list
                MATCHES  
            %li
              %a{:href => users_path}
                RANKING          

          %ul.nav.navbar-nav.navbar-right
            %li
              - if user_signed_in?
                %a{:href => user_path(current_user)}
                  %span.glyphicon.glyphicon-user
                  = current_user.firstname
                %li
                  %a{:href => edit_user_registration_path(current_user)}
                    edit profile
                %li
                  %a{"data-method" => "delete", :href => destroy_user_session_path, :rel => "nofollow"}
                    %span.glyphicon.glyphicon-log-out
                    Log-out
                %li.round-image-50=image_tag(current_user.avatar.url(:medium))
              - else
                %a{:href => new_user_session_path}
                  %span.glyphicon.glyphicon-log-in
                  Log-in
    .container
      .row
        .col-lg-12
          = yield
